<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="styles/index.min.css">
        <title>Tesla-refact</title>
    </head>
    <body>
        {{> header }}
        {{> main }}
        {{> extern-info }}
        <script type="text/javascript" src="scripts/scripts.min.js"></script>
    </body>
</html>